@font-face {
  font-family: 'Plus Jakarta Sans';
  src:
    url('./fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
    url('./fonts/PlusJakartaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans Bold';
  src:
    url('./fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
    url('./fonts/PlusJakartaSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pirata One';
  src:
    url('./fonts/PirataOne-Regular.woff2') format('woff2'),
    url('./fonts/PirataOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
