@import '../assets/fonts/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-color: #b8ff5f;
}

body {
  background-color: #b8ff5f;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1,
h2,
span {
  font-family: 'Plus Jakarta Sans Bold', sans-serif;
}

.pirata {
  font-family: 'Pirata One', sans-serif;
}

.price {
  font-family: 'Plus Jakarta Sans Bold', sans-serif;
}
.green {
  background-color: #b8ff5f;
}

select {
  /* Other styles as needed */
  -webkit-appearance: none; /* Remove default arrow on Chrome/Safari */
  -moz-appearance: none; /* Remove default arrow on Firefox */
  appearance: none; /* Remove default arrow on other browsers */
  background-image: url('../../public/arrowdown.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
  padding-right: 40px; /* Adjust padding to fit the arrow image */
}
